<% provide(:title, 'ルーム一覧') %>

<div class="page-header">
  <h2>ルーム一覧</h2>
</div>
<div class="room-list row">
  <% @rooms.each do |room| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <%= render 'room', room: room %>
    </div>
  <% end %>
</div>
